<div class="block notice">
  <h3>YouTube IT Demo</h3>
  <p>Using youtube_it gem you can do:</p>
  <div class="content">
    <p>Upload your video to YouTube from here!.</p>
    <p>Add, Delete, Update videos from here and see the changes on YouTube site.</p>
    <p>Add comments to yours videos.</p>
  </div>
</div>
